.__productslist {
    display: grid;
    margin-top: 10px;

    & .__rubrik {
        display: flex;

        & span {
            font-size: $font-size-16;
            font-weight: bold;
            background-color: $color-theme-red;
            color: rgb(253, 246, 246);
            text-align: center;
            border: 1px black solid;
            border-radius: 5px;
            width: 175px;
            height: 35px;
            padding: 5px;
        }

        & .__smallbox {
            width: 60px;
        }            

        & .__mediumbox {
            width: 100px;
        } 

        & .__largebox {
            width: 290px;
        }    
    }

    & > .container {
        width: 1110px;
        display: flex ;
        flex-direction: column;
        align-items: center;

        & .__products {
            display: flex ;
            justify-content: space-between;
            position: relative;

            & .__smallbox {
                width: 60px;
            }            

            & .__mediumbox {
                width: 100px;
            } 

            & .__largebox {
                width: 290px;
            }         
  
            & span {
                font-size: $font-size-16;
                font-weight: bold;
                background-color: $color-gray-2;
                color: black;
                text-align: center;
                border: 1px black solid;
                border-radius: 5px;
                width: 175px;
                height: 35px;
                padding: 5px;

                & img {
                    width: 100px;
                }

                & p {
                    display: none;
                    align-items: baseline;
                    width: 200px;
                    border-radius: 5px;
                    background-color: black;
                    font-size: 12px;
                    color: white;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                }

                & img {
                    display: none;
                    align-items: baseline;
                    width: 150px;
                    border-radius: 5px;
                    background-color: black;
                    font-size: 12px;
                    color: white;
                }

                &:hover p {
                    display: inline;
                    position: absolute;
                    border: 1px solid black;
                    top: 0px;
                    left: -210px;
                    z-index: 50;
                }

                &:hover img {
                    display: inline;
                    position: absolute;
                    border: 1px solid black;
                    top: -35px;
                    left: 410px;
                    z-index: 50;
                }
            }
    
            & ._extrabutton {
                font-weight: bold;
                background-color: green;
                color: white;
                height: 35px;
                width: 50px;
                border: 1px black solid;
                border-radius: 5px;
                padding: 0;
            }
        }

        & .modal-header {
            

            & ._modal-title {
                display: block;
                justify-content: space-between;   
                align-items: center;
                    
                & .__modalheader_title {
                    font-size: 18px;
                }
    
                & .__modalheader_text {
                    font-size: 12px;
                    color: gray;
                }
            }

        }

        & .modal-body {
            text-align: center;
            color: black;
            padding: 30px;
            font-size: 20px;
        }

        & .__update {
            text-align: left;
            color: black;
            padding: 30px;

            & label {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                text-align: center;

                & p {
                    margin: auto 0 0;
                }


                & .actual {
                    text-align: center;
                    font-size: 13px;
                    color: black;
                }
            }

            & input, textarea {
                width: 437px;
            }

        }

        & .__delete {
            background-color: rgb(243, 2, 2);
            font-weight: bold;
        }
        
    }
}