.__showcase {
    margin-top: 65px;
    
    & > .container {
      display: flex ;
      justify-content: space-between;
      align-items: center;
  
      & .sale {
        position: relative;
        width: 1045px;
        height: 563px;
        background-color: #C8C0BE;

        & img {
          justify-items: right;
          position: absolute;
          right: 0;
        }
  
        & .textonimg {
          text-align: left;
          position: absolute;
          bottom: 100px;
          left: 0;
          width: 480px;
          padding-left: 50px;
  
          & h1 {
            font-size: $font-size-45;
            font-weight: $font-weight-bold;
          }
  
          & p {
            padding-bottom: 50px;
          }
        }
      }
  
      & .new-arrivals {
        position: relative;
        width: 635px;
        height: 563px;
        background-color: #E8E8E8;

        & img {
          justify-items: left;
          position: absolute;
          right: 0;
        }
  
        & .textonimg {
          text-align: left;
          position: absolute;
          bottom: 100px;
          left: 0;
  
          padding-left: 50px;
  
          & h1 {
            width: 120px;
            font-size: $font-size-45;
            font-weight: $font-weight-bold;
            padding-bottom: 50px;
          }
        }
      }
    }
  } 