@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap");
html, body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif, serif;
  font-weight: 400;
  color: #222529;
}

.j-c {
  justify-content: space-between;
}

.a-i {
  align-items: center;
}

.container,
.container-fluid,
.container-xxxl,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
@media (min-width: 1700px) {
  .container-xxxl, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1680px;
  }
}
/*----------------------------- Extra -----------------------------*/
.button-red {
  display: inline-block;
  position: relative;
  background: #FF7373;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-red::before, .button-red::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-red:hover::before, .button-red:hover::after {
  width: 89.2%;
}
.button-red::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-red::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-red:hover span::before, .button-red:hover span::after {
  height: 66.2%;
}
.button-red span {
  display: block;
  padding: 15.5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-red span::before, .button-red span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-red span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-red span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.button-blck {
  display: inline-block;
  position: relative;
  background: #222529;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-blck::before, .button-blck::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-blck:hover::before, .button-blck:hover::after {
  width: 89.2%;
}
.button-blck::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-blck::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-blck:hover span::before, .button-blck:hover span::after {
  height: 66.2%;
}
.button-blck span {
  display: block;
  padding: 15.5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-blck span::before, .button-blck span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.button-blck span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-blck span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.button-login {
  display: inline-block;
  position: relative;
  background: #222529;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-login::before, .button-login::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 5px;
}
.button-login:hover::before, .button-login:hover::after {
  width: 97.4%;
}
.button-login::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-login::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-login:hover span::before, .button-login:hover span::after {
  height: 75%;
}
.button-login span {
  display: block;
  padding: 5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-login span::before, .button-login span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 5px;
}
.button-login span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-login span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-login:hover {
  background-color: rgb(119, 45, 45);
  color: white;
}

.button-white {
  display: inline-block;
  position: relative;
  background: white;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.button-white::before, .button-white::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #222529;
  margin: 10px;
}
.button-white:hover::before, .button-white:hover::after {
  width: 89.2%;
}
.button-white::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-white::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.button-white:hover span::before, .button-white:hover span::after {
  height: 66.2%;
}
.button-white span {
  display: block;
  color: #222529;
  padding: 15.5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.button-white span::before, .button-white span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: #222529;
  margin: 10px;
}
.button-white span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.button-white span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.breadcrumb {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 30px 0;
}
.breadcrumb > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 1110px;
}
.breadcrumb > .container .list {
  list-style: none;
  margin-left: 0;
}
.breadcrumb > .container .list li {
  display: inline-block;
}
.breadcrumb > .container .list li a {
  text-decoration: none;
  color: #222529;
  margin-left: -32px;
  transition: all 0.2s ease-in-out;
}
.breadcrumb > .container .list li a:hover {
  color: #FF7373;
}
.breadcrumb > .container .list li a i {
  margin-right: 5px;
}
.breadcrumb > .container .list li + li::before {
  content: "> ";
  font-weight: 500;
  margin: 0 5px 0 5px;
}

.map {
  width: 100%;
  height: 386px;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: translateX(-200%);
  transition: 0.5s ease-out;
}

.cart-modal {
  height: 100vh;
  width: 25%;
  background-color: rgb(50, 50, 50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: 0.5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
  /*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

.__admin {
  margin-top: 65px;
}
.__admin > .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1110px;
}
.__admin > .container .__manageproducts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.__admin > .container .__manageproducts a {
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #FF7373;
  color: white;
  text-align: center;
  height: 50px;
  width: 280px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 11px;
}
.__admin > .container .__manageproducts button {
  font-size: 1.125rem;
  font-weight: bold;
  background-color: green;
  color: white;
  text-align: center;
  height: 50px;
  width: 280px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 11px;
}
.__admin > .container .modal-body {
  color: #FF7373;
}

.__productslist {
  display: grid;
  margin-top: 10px;
}
.__productslist .__rubrik {
  display: flex;
}
.__productslist .__rubrik span {
  font-size: 1rem;
  font-weight: bold;
  background-color: #FF7373;
  color: rgb(253, 246, 246);
  text-align: center;
  border: 1px black solid;
  border-radius: 5px;
  width: 175px;
  height: 35px;
  padding: 5px;
}
.__productslist .__rubrik .__smallbox {
  width: 60px;
}
.__productslist .__rubrik .__mediumbox {
  width: 100px;
}
.__productslist .__rubrik .__largebox {
  width: 290px;
}
.__productslist > .container {
  width: 1110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.__productslist > .container .__products {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.__productslist > .container .__products .__smallbox {
  width: 60px;
}
.__productslist > .container .__products .__mediumbox {
  width: 100px;
}
.__productslist > .container .__products .__largebox {
  width: 290px;
}
.__productslist > .container .__products span {
  font-size: 1rem;
  font-weight: bold;
  background-color: #F8F8F8;
  color: black;
  text-align: center;
  border: 1px black solid;
  border-radius: 5px;
  width: 175px;
  height: 35px;
  padding: 5px;
}
.__productslist > .container .__products span img {
  width: 100px;
}
.__productslist > .container .__products span p {
  display: none;
  align-items: baseline;
  width: 200px;
  border-radius: 5px;
  background-color: black;
  font-size: 12px;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.__productslist > .container .__products span img {
  display: none;
  align-items: baseline;
  width: 150px;
  border-radius: 5px;
  background-color: black;
  font-size: 12px;
  color: white;
}
.__productslist > .container .__products span:hover p {
  display: inline;
  position: absolute;
  border: 1px solid black;
  top: 0px;
  left: -210px;
  z-index: 50;
}
.__productslist > .container .__products span:hover img {
  display: inline;
  position: absolute;
  border: 1px solid black;
  top: -35px;
  left: 410px;
  z-index: 50;
}
.__productslist > .container .__products ._extrabutton {
  font-weight: bold;
  background-color: green;
  color: white;
  height: 35px;
  width: 50px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 0;
}
.__productslist > .container .modal-header ._modal-title {
  display: block;
  justify-content: space-between;
  align-items: center;
}
.__productslist > .container .modal-header ._modal-title .__modalheader_title {
  font-size: 18px;
}
.__productslist > .container .modal-header ._modal-title .__modalheader_text {
  font-size: 12px;
  color: gray;
}
.__productslist > .container .modal-body {
  text-align: center;
  color: black;
  padding: 30px;
  font-size: 20px;
}
.__productslist > .container .__update {
  text-align: left;
  color: black;
  padding: 30px;
}
.__productslist > .container .__update label {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-align: center;
}
.__productslist > .container .__update label p {
  margin: auto 0 0;
}
.__productslist > .container .__update label .actual {
  text-align: center;
  font-size: 13px;
  color: black;
}
.__productslist > .container .__update input, .__productslist > .container .__update textarea {
  width: 437px;
}
.__productslist > .container .__delete {
  background-color: rgb(243, 2, 2);
  font-weight: bold;
}

.__notfound {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  align-items: center;
  margin-top: 100px;
}
.__notfound section:first-of-type {
  display: flex;
  justify-content: center;
}
.__notfound section:first-of-type img {
  width: 90%;
}
.__notfound section:last-of-type {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.__notfound section:last-of-type h1 {
  text-transform: uppercase;
  font-weight: 800;
  color: #333333;
}
.__notfound section:last-of-type h5 {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 0;
}
.__notfound section:last-of-type p {
  font-size: 16px;
  width: 80%;
  line-height: 25px;
}
.__notfound section:last-of-type a {
  width: fit-content;
  text-decoration: none;
  color: white;
}
.__notfound section:last-of-type a:hover::before, .__notfound section:last-of-type a:hover::after {
  width: 91.5%;
}
.__notfound section:last-of-type a:hover span::before, .__notfound section:last-of-type a:hover span::after {
  height: 63.2%;
}

@media only screen and (max-width: 375px) {
  body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }
  body main section:first-of-type img {
    width: 80%;
  }
}
.__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 255px;
  height: 323px;
  border: none;
}
.__card .card-img {
  position: relative;
  width: 255px;
  height: 210px;
  overflow: hidden;
}
.__card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.__card .card-img .card-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 5%;
  right: -20%;
  list-style: none;
  z-index: 3;
  transition: 0.3s ease-in-out;
}
.__card .card-img .card-menu .__menulink {
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: white;
  width: 36px;
  height: 36px;
  margin-bottom: 0.5rem;
}
.__card .card-img .card-menu .__menulink i {
  color: #222529;
  font-size: 1rem;
  position: relative;
  margin: auto;
}
.__card .card-img .card-menu .__menulink:hover {
  background-color: #222529;
}
.__card .card-img .card-menu .__menulink:hover i {
  color: white;
}
.__card .card-img .button-quick-view {
  display: inline-block;
  position: relative;
  background: #FF7373;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.__card .card-img .button-quick-view::before, .__card .card-img .button-quick-view::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.__card .card-img .button-quick-view:hover::before, .__card .card-img .button-quick-view:hover::after {
  width: 91.8%;
}
.__card .card-img .button-quick-view::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.__card .card-img .button-quick-view::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.__card .card-img .button-quick-view:hover span::before, .__card .card-img .button-quick-view:hover span::after {
  height: 55.6%;
}
.__card .card-img .button-quick-view span {
  display: block;
  padding: 10.5px 44px;
  font-size: 1rem;
  font-weight: 600;
}
.__card .card-img .button-quick-view span::before, .__card .card-img .button-quick-view span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.__card .card-img .button-quick-view span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.__card .card-img .button-quick-view span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.__card .card-img:hover .card-menu {
  position: absolute;
  top: 5%;
  right: 3%;
  z-index: 3;
}
.__card .card-img .button-quick-view {
  text-decoration: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -50px;
  transition: 0.3s ease-in-out;
}
.__card .card-img:hover .button-quick-view {
  bottom: 0px;
}
.__card .card-img:hover .button-quick-view:hover {
  background-color: #222529;
}
.__card .__card-body {
  text-align: center;
}
.__card .__card-body a {
  color: #616365;
  font-size: 0.8125rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.__card .__card-body h4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: lowercase;
}
.__card .__card-body h4::first-line {
  text-transform: capitalize;
}
.__card .__card-body span {
  color: #FF7373;
}
.__card .__card-body .product-price {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0;
}
.__card .__card-body .product-price span {
  text-decoration: line-through;
  font-weight: 400;
  margin-right: 15px;
  color: #616365;
  font-size: 1rem;
}

.__productsignal {
  margin-top: 10px;
}
.__productsignal > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 1110px;
}
.__productsignal > .container > a {
  text-decoration: none;
  color: #FF7373;
  text-align: center;
  justify-items: center;
  font-weight: 500;
  height: 40px;
  margin-bottom: 45px;
  padding-top: 8px;
  box-shadow: 0 3px 80px 0 #E6E6E6, 0 0px 0px 0 #E6E6E6;
}
.__productsignal > .container h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 50px;
}
.__productsignal > .container .__productdetailsbox {
  display: flex;
  justify-content: space-between;
}
.__productsignal > .container .__productdetailsbox .__productimages {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
}
.__productsignal > .container .__productdetailsbox .__productimages *,
.__productsignal > .container .__productdetailsbox .__productimages *::before,
.__productsignal > .container .__productdetailsbox .__productimages *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.__productsignal > .container .__productdetailsbox .__productimages > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.__productsignal > .container .__productdetailsbox .__productimages .thumbnails {
  display: flex;
  width: 540px;
  height: 132px;
  overflow: hidden;
  gap: 30px;
}
.__productsignal > .container .__productdetailsbox .__productimages .thumbnails li {
  flex: auto;
  list-style: none;
}
.__productsignal > .container .__productdetailsbox .__productimages .thumbnails a {
  display: block;
}
.__productsignal > .container .__productdetailsbox .__productimages .thumbnails img {
  width: 160px;
  height: 132px;
  object-fit: cover;
  object-position: top;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides {
  overflow: hidden;
  width: 540px;
  height: 444px;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides li {
  list-style: none;
  width: 160px;
  height: 132px;
  position: absolute;
  z-index: 1;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides img {
  height: 444px;
  width: 540px;
  object-fit: cover;
  object-position: top;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides li:target {
  z-index: 3;
  animation: slide 0.1s 1;
}
.__productsignal > .container .__productdetailsbox .__productimages .slides li:not(:target) {
  animation: hidden 0.1s 1;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
.__productsignal > .container .__productdetailsbox .__productdetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.__productsignal > .container .__productdetailsbox .__productdetails h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productartnr {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productartnr p {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #616365;
  margin: 0;
}
.__productsignal > .container .__productdetailsbox .__productdetails span {
  color: #FF7373;
}
.__productsignal > .container .__productdetailsbox .__productdetails p {
  font-size: 1rem;
  color: #616365;
  margin: 0;
}
.__productsignal > .container .__productdetailsbox .__productdetails h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize {
  display: flex;
  justify-content: space-between;
  width: 282px;
  height: 40px;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 8px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize input[type=radio] {
  visibility: hidden;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize input[type=radio]:checked + label {
  background-color: #FF7373;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productsize label {
  text-align: center;
  padding-top: 8px;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productcolor {
  display: flex;
  justify-content: space-between;
  width: 282px;
  height: 40px;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productcolor h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 8px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity {
  display: flex;
  justify-content: left;
  text-align: center;
  gap: 30px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity span {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 282px;
  height: 50px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity span h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 12px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity span .___quantity {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity span .___quantity button {
  height: 50px;
  width: 36px;
  background-color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid black;
  outline: none;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity span .___quantity .__qty {
  height: 50px;
  width: 40px;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid black;
  padding-top: 12px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart {
  display: inline-block;
  position: relative;
  background: #FF7373;
  border: none;
  color: #fff;
  width: 207px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover::after {
  width: 89.8%;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover span::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart:hover span::after {
  height: 59.6%;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span {
  display: flex;
  padding: 12px 44px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::before, .__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
  margin: 10px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productquantity .button-add-to-cart span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productshare {
  display: flex;
  justify-content: space-between;
  width: 282px;
  height: 40px;
  text-align: center;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productshare h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 8px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productshare .__shareline {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 5px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productshare .__shareline li {
  list-style: none;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #F4F4F4;
  width: 36px;
  height: 36px;
  margin-bottom: 0.5rem;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productshare .__shareline li i {
  color: #222529;
  font-size: 1rem;
  position: relative;
  top: 5px;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productshare .__shareline li:hover {
  background-color: #222529;
}
.__productsignal > .container .__productdetailsbox .__productdetails .__productshare .__shareline li:hover i {
  color: white;
}
.__productsignal > .container .__extradetails {
  margin-top: 55px;
}
.__productsignal > .container .__extradetails .tabs {
  display: flex;
  justify-content: space-between;
  width: 540px;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
}
.__productsignal > .container .__extradetails .tabs button {
  border: none;
  background-color: white;
  color: #222529;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid;
  transition: color 0.2s all ease-in-out;
}
.__productsignal > .container .__extradetails .tabs button:disabled, .__productsignal > .container .__extradetails .tabs button:hover {
  color: #FF7373;
}
.__productsignal > .container .__extradetails .content {
  padding: 30px 0;
  background-color: white;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}
.__productsignal > .container .__extradetails .content .__retur {
  display: grid;
  grid-template-columns: repeat(2, 540px);
  grid-template-rows: repeat(2, 100px);
  gap: 30px;
}
.__productsignal > .container .__extradetails .content #frakt {
  grid-column: 1/2;
  grid-row: 1/2;
}
.__productsignal > .container .__extradetails .content #retur {
  grid-column: 2/-1;
  grid-row: 1/2;
}
.__productsignal > .container .__extradetails .content #byte {
  grid-column: 1/2;
  grid-row: 2/-1;
}
.__productsignal > .container .__extradetails .content #faq {
  grid-column: 2/-1;
  grid-row: 2/-1;
}
.__productsignal > .container .__related-products {
  margin-top: 65px;
}
.__productsignal > .container .__related-products > .container {
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.__productsignal > .container .__related-products > .container h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto auto 30px auto;
  margin-left: 0;
}
.__productsignal > .container .__related-products > .container .products {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.__navbar {
  height: 99px;
  display: flex;
  align-items: center;
}
.__navbar > .container {
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__navbar > .container .brand {
  flex: 1;
  font-size: 2.1875rem;
  font-weight: 700;
}
.__navbar > .container .brand a {
  text-decoration: none;
  color: #222529;
}
.__navbar > .container .pages {
  flex: 1;
  display: flex;
  justify-content: center;
}
.__navbar > .container .pages a {
  color: #222529;
  font-weight: 500;
  text-decoration: none;
  margin: 1rem;
}
.__navbar > .container .pages a:hover {
  color: #FF7373;
  transition: 0.2s all ease-in-out;
}
.__navbar > .container .pages .active {
  color: #FF7373;
}
.__navbar > .container .iconbar {
  flex: 1;
  display: flex;
  justify-content: right;
}
.__navbar > .container .iconbar .circle {
  text-decoration: none;
  color: #222529;
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: 2rem;
  box-shadow: 0 4px 8px 0 #CCCCCC, 0 6px 20px 0 #CCCCCC;
}
.__navbar > .container .iconbar .circle i {
  font-size: 1rem;
  position: absolute;
  top: 10px;
  left: 10px;
}
.__navbar > .container .iconbar .circle:hover {
  background-color: #222529;
}
.__navbar > .container .iconbar .circle:hover i {
  color: white;
}
.__navbar > .container .iconbar .circle .notification {
  background-color: #FF7373;
  font-size: 10px;
  position: absolute;
  top: 2px;
  right: -13px;
}
.__navbar > .container .iconbar button {
  border: none;
}

.__mobile-login {
  height: 1100px;
}
.__mobile-login .card-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: #FF7373;
  border-radius: 8px;
  width: 100%;
  padding: 2rem;
}
.__mobile-login .card-login h4 {
  margin-bottom: 2rem;
}
.__mobile-login .card-login .password-settings a {
  color: #0E153D;
  font-weight: bold;
  text-decoration: none;
}
.__mobile-login .card-login .password-settings a:hover {
  color: #0E153D;
  text-decoration: underline;
}
.__mobile-login .card-login .card-text-small {
  font-size: 14px;
  color: #777777;
}
.__mobile-login .card-login .card-text-medium {
  color: #0E153D;
}
.__mobile-login .card-login .card-text-medium a {
  color: #FF7373;
  font-weight: bold;
  text-decoration: none;
}
.__mobile-login .card-login .card-text-medium a:hover {
  color: #0E153D;
  text-decoration: underline;
}
.__mobile-login #signinForm_mobile input,
.__mobile-login #signupForm_mobile input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 0.9rem;
  margin: 0.2rem 0;
}
.__mobile-login p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
.__mobile-login h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.__mobile-login .__mobile-login .section {
  position: relative;
  width: 100%;
  display: block;
}
.__mobile-login .section > [type=checkbox]:checked,
.__mobile-login .section > [type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.__mobile-login .checkbox:checked + label,
.__mobile-login .checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #0E153D;
}
.__mobile-login .checkbox:checked + label:before,
.__mobile-login .checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #CCCCCC;
  background-color: #FF7373;
  font-family: "unicons-line";
  content: "\eb4f";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.__mobile-login .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}
.__mobile-login .card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.__mobile-login .card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.__mobile-login .card-front, .__mobile-login .card-back {
  width: 100%;
  height: 100%;
  background-color: #FF7373;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.__mobile-login .card-back {
  transform: rotateY(180deg);
}
.__mobile-login .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.__mobile-login .center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.footer {
  margin-top: 65px;
  height: 110px;
  color: #616365;
  background-color: #F8F8F8;
  text-align: center;
  border-top: 1px solid #7E7F80;
  padding-top: 25px;
}
.footer a {
  color: black;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px;
}
.footer p {
  font-size: 1rem;
  font-weight: 400;
  color: #616365;
  margin: 8px;
}

.__shoppingcart {
  width: 700px !important;
}
.__shoppingcart .offcanvas-header > h5 {
  font-size: 1.5rem;
}
.__shoppingcart .checkout a {
  border: 1px solid black;
  text-decoration: none;
  font-weight: bold;
}
.__shoppingcart .checkout a:hover {
  color: black;
}
.__shoppingcart .checkout button {
  border: 1px solid black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
}

.__shoppingcartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  height: 120px;
  border-bottom: 1px dashed #E6E6E6;
}
.__shoppingcartitem .__image {
  flex: 1;
}
.__shoppingcartitem .__image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.__shoppingcartitem .__info {
  flex: 3;
}
.__shoppingcartitem .__info .__quantity {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px dashed #E6E6E6;
  width: 120px;
  height: 40px;
}
.__shoppingcartitem .__info .__quantity span {
  width: 40px;
  margin: auto;
}
.__shoppingcartitem .__info .__quantity button {
  width: 40px;
  background-color: #E6E6E6;
  text-align: center;
}
.__shoppingcartitem button {
  flex: 1;
  border: none;
  background-color: white;
  text-align: right;
}

.__scene {
  background-color: #E6E6E6;
}
.__scene > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__scene > .container .h-b-l {
  flex: 1;
  justify-content: left;
}
.__scene > .container .h-b-l img {
  width: 100%;
}
.__scene > .container .h-b-c {
  flex: 1;
  text-align: center;
}
.__scene > .container .h-b-c > h1 {
  text-transform: uppercase;
  font-size: 4.0625rem;
  font-weight: 800;
  color: #FF7373;
}
.__scene > .container .h-b-c h2 {
  font-size: 4.0625rem;
  font-weight: 800;
  color: #222529;
}
.__scene > .container .h-b-c p {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem 0 2rem 0;
}
.__scene > .container .h-b-r {
  flex: 1;
}
.__scene > .container .h-b-r img {
  width: 100%;
}

.__showcase {
  margin-top: 65px;
}
.__showcase > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__showcase > .container .sale {
  position: relative;
  width: 1045px;
  height: 563px;
  background-color: #C8C0BE;
}
.__showcase > .container .sale img {
  justify-items: right;
  position: absolute;
  right: 0;
}
.__showcase > .container .sale .textonimg {
  text-align: left;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 480px;
  padding-left: 50px;
}
.__showcase > .container .sale .textonimg h1 {
  font-size: 2.8125rem;
  font-weight: 700;
}
.__showcase > .container .sale .textonimg p {
  padding-bottom: 50px;
}
.__showcase > .container .new-arrivals {
  position: relative;
  width: 635px;
  height: 563px;
  background-color: #E8E8E8;
}
.__showcase > .container .new-arrivals img {
  justify-items: left;
  position: absolute;
  right: 0;
}
.__showcase > .container .new-arrivals .textonimg {
  text-align: left;
  position: absolute;
  bottom: 100px;
  left: 0;
  padding-left: 50px;
}
.__showcase > .container .new-arrivals .textonimg h1 {
  width: 120px;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-bottom: 50px;
}

.__featured-products {
  margin-top: 65px;
}
.__featured-products > .container {
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.__featured-products > .container h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: auto auto 30px auto;
}
.__featured-products > .container .products {
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: repeat(2, 323px);
  gap: 30px;
}

.img-bar {
  margin-top: 65px;
}
.img-bar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-bar > .container .top-picks {
  position: relative;
  background-color: #73695D;
  width: 825px;
  height: 403px;
}
.img-bar > .container .top-picks .textonimg {
  text-align: right;
  position: absolute;
  bottom: 100px;
  right: 0;
  padding-right: 50px;
}
.img-bar > .container .top-picks .textonimg h1 {
  width: 380px;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-bottom: 50px;
  color: white;
}
.img-bar > .container .flash-sale {
  position: relative;
  background-color: #D9D9D9;
  width: 825px;
  height: 403px;
}
.img-bar > .container .flash-sale img {
  position: absolute;
  right: 50px;
}
.img-bar > .container .flash-sale .textonimg {
  text-align: left;
  position: absolute;
  bottom: 100px;
  left: 0;
  padding-left: 50px;
}
.img-bar > .container .flash-sale .textonimg h1 {
  width: 170px;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-bottom: 50px;
}

.speciality {
  margin-top: 65px;
}
.speciality > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 406px;
  background-color: #F5F5F5;
}
.speciality > .container h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 65px auto 30px auto;
}
.speciality > .container .order-settings {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 65px;
}
.speciality > .container .order-settings .speciality-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 490px;
  height: 232px;
}
.speciality > .container .order-settings .speciality-card .text {
  flex: 1;
  margin: auto;
  padding-left: 34px;
}
.speciality > .container .order-settings .speciality-card .text h1 {
  font-size: 1.25rem;
  font-weight: 600;
}
.speciality > .container .order-settings .speciality-card .text a {
  color: #222529;
  font-size: 1rem;
  font-weight: 600;
}

.sale-box-left {
  margin-top: 65px;
}
.sale-box-left > .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sale-box-left > .container .big-box-left {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 236px;
  position: relative;
  width: 825px;
  height: 673px;
}
.sale-box-left > .container .big-box-left img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}
.sale-box-left > .container .big-box-left h1 {
  color: white;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-bottom: 24px;
}
.sale-box-left > .container .products {
  flex: 1;
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(2, 255px);
  grid-template-rows: repeat(2, 323px);
  gap: 30px;
}

.sale-box-right {
  margin-top: 65px;
}
.sale-box-right > .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sale-box-right > .container .big-box-right {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 236px;
  position: relative;
  width: 825px;
  height: 673px;
}
.sale-box-right > .container .big-box-right img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}
.sale-box-right > .container .big-box-right h1 {
  color: white;
  font-size: 2.8125rem;
  font-weight: 700;
  padding-bottom: 24px;
}
.sale-box-right > .container .products {
  flex: 1;
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(2, 255px);
  grid-template-rows: repeat(2, 323px);
  gap: 30px;
}

.sale-box-center {
  margin-top: 65px;
}
.sale-box-center > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 1110px;
  height: 326px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 40px;
}
.sale-box-center > .container img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.sale-box-center > .container h1 {
  font-size: 2.8125rem;
  font-weight: 700;
}
.sale-box-center > .container p {
  font-size: 1.25rem;
  font-weight: 700;
}

.__selectedproducts {
  margin-top: 65px;
}
.__selectedproducts > .container {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.__selectedproducts > .container h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.__selectedproducts > .container .latest-product, .__selectedproducts > .container .best-selling-product, .__selectedproducts > .container .top-reacted-product {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.__selectedproducts > .container .latest-product > .__cardx, .__selectedproducts > .container .best-selling-product > .__cardx, .__selectedproducts > .container .top-reacted-product > .__cardx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  height: 132px;
}
.__selectedproducts > .container .latest-product > .__cardx .cardx-img, .__selectedproducts > .container .best-selling-product > .__cardx .cardx-img, .__selectedproducts > .container .top-reacted-product > .__cardx .cardx-img {
  flex: 1;
  width: 255px !important;
  height: 132px;
}
.__selectedproducts > .container .latest-product > .__cardx .cardx-img img, .__selectedproducts > .container .best-selling-product > .__cardx .cardx-img img, .__selectedproducts > .container .top-reacted-product > .__cardx .cardx-img img {
  width: 160px;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.__selectedproducts > .container .latest-product > .__cardx .cardx-img:hover .card-menu, .__selectedproducts > .container .best-selling-product > .__cardx .cardx-img:hover .card-menu, .__selectedproducts > .container .top-reacted-product > .__cardx .cardx-img:hover .card-menu {
  display: none;
}
.__selectedproducts > .container .latest-product > .__cardx .cardx-img:hover .button-quick-view, .__selectedproducts > .container .best-selling-product > .__cardx .cardx-img:hover .button-quick-view, .__selectedproducts > .container .top-reacted-product > .__cardx .cardx-img:hover .button-quick-view {
  display: none;
}
.__selectedproducts > .container .latest-product > .__cardx .__cardx-body, .__selectedproducts > .container .best-selling-product > .__cardx .__cardx-body, .__selectedproducts > .container .top-reacted-product > .__cardx .__cardx-body {
  flex: 1;
  padding-top: 5px;
  padding-left: 15px;
  text-align: left;
}
.__selectedproducts > .container .latest-product > .__cardx .__cardx-body a, .__selectedproducts > .container .best-selling-product > .__cardx .__cardx-body a, .__selectedproducts > .container .top-reacted-product > .__cardx .__cardx-body a {
  color: #616365;
  font-size: 0.8125rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.__selectedproducts > .container .latest-product > .__cardx .__cardx-body h4, .__selectedproducts > .container .best-selling-product > .__cardx .__cardx-body h4, .__selectedproducts > .container .top-reacted-product > .__cardx .__cardx-body h4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: lowercase;
}
.__selectedproducts > .container .latest-product > .__cardx .__cardx-body h4::first-line, .__selectedproducts > .container .best-selling-product > .__cardx .__cardx-body h4::first-line, .__selectedproducts > .container .top-reacted-product > .__cardx .__cardx-body h4::first-line {
  text-transform: capitalize;
}
.__selectedproducts > .container .latest-product > .__cardx .__cardx-body span, .__selectedproducts > .container .best-selling-product > .__cardx .__cardx-body span, .__selectedproducts > .container .top-reacted-product > .__cardx .__cardx-body span {
  color: #FF7373;
}
.__selectedproducts > .container .latest-product > .__cardx .__cardx-body .product-price, .__selectedproducts > .container .best-selling-product > .__cardx .__cardx-body .product-price, .__selectedproducts > .container .top-reacted-product > .__cardx .__cardx-body .product-price {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0;
}
.__selectedproducts > .container .latest-product > .__cardx .__cardx-body .product-price span, .__selectedproducts > .container .best-selling-product > .__cardx .__cardx-body .product-price span, .__selectedproducts > .container .top-reacted-product > .__cardx .__cardx-body .product-price span {
  text-decoration: line-through;
  font-weight: 400;
  margin-right: 15px;
  color: #616365;
  font-size: 1rem;
}

.info-box {
  margin-top: 65px;
}
.info-box > .container {
  display: flex;
  justify-content: space-between;
  justify-content: end;
  text-align: center;
  width: 1110px;
  height: 247px;
  padding: 0;
  border-top: 1px solid #7E7F80;
}
.info-box > .container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.info-box > .container .box .circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-top: 65px;
  padding-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-box > .container .box h1 {
  font-size: 1.25rem;
  font-weight: 700;
}
.info-box > .container .box p {
  font-size: 1rem;
  font-weight: 400;
  color: #616365;
  margin: 0;
}

.contactus {
  margin-top: 65px;
}
.contactus > .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 1110px;
}
.contactus > .container span {
  font-size: 1.125rem;
  font-weight: 700;
}
.contactus > .container .thankyou {
  font-size: 1.25rem;
  font-weight: 600;
  color: #FF7373;
}
.contactus > .container #commentForm .user {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}
.contactus > .container #commentForm .user .username, .contactus > .container #commentForm .user .useremail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactus > .container #commentForm .user .username input, .contactus > .container #commentForm .user .useremail input {
  height: 50px;
  padding-left: 20px;
}
.contactus > .container #commentForm .commentbox {
  margin-top: 30px;
}
.contactus > .container #commentForm .commentbox textarea {
  width: 100%;
  height: 140px;
}
.contactus > .container #commentForm .commentbox textarea::placeholder {
  padding: 55px 20px;
}
.contactus > .container #commentForm .errorMessage {
  color: #FF7373;
  font-size: 0.875rem;
  font-weight: 400;
}
.contactus > .container #commentForm button {
  margin-top: 30px;
}